/*
Stylesheet für alle FXML Dateien
	- Menu.fxml
	- HistoryGamefield.fxml
	- KIGamefield.fxml
	- TournamentGamefield.fxml
	- TwoPlayerGamefield.fxml 
*/

/*Styling Menu - First Screen*/
#rootAnchor{
	-fx-background-image: url("../images/menu_Background.png");
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat		
}

#btnTourn{
	-fx-background-image: url("../images/menu_Btn_Tourn.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
	 
}

#btnTourn:hover{
	-fx-background-image: url("../images/menu_Btn_Tourn_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnTwoPlayer{
	-fx-background-image: url("../images/menu_Btn_2Player.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnTwoPlayer:hover{
	-fx-background-image: url("../images/menu_Btn_2Player_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnKI{
	-fx-background-image: url("../images/menu_Btn_KI.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnKI:hover{
	-fx-background-image: url("../images/menu_Btn_KI_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnHistory{
	-fx-background-image: url("../images/menu_Btn_History.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnHistory:hover{
	-fx-background-image: url("../images/menu_Btn_History_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

/*Gamefield Tournament*/
#GameField{
	-fx-background-image: url("../images/gamefield_Background.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
	-fx-background-repeat:no-repeat	
}

/*Styling UI Elemente für Tournament, Player vs. KI, Two Player*/
#btnSettings{
	-fx-background-image: url("../images/gamefield_Btn_SlideIn.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent;
	-fx-background-repeat:no-repeat		 
}

#btnNewSet{
	-fx-background-image: url("../images/gamefieldTour_Btn_NextRound.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnNewSet:hover{
	-fx-background-image: url("../images/gamefieldTour_Btn_NextRound_hover.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnNewSetTour{
	-fx-background-image: url("../images/gamefieldTour_Btn_NextRound.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnNewSetTour:hover{
	-fx-background-image: url("../images/gamefieldTour_Btn_NextRound_hover.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

/*Steineinwurf - Player vs. KI, Two Player*/
/*Steineinwurf - Farben der Spielsteine*/
#red{
	-fx-background-image: url("../images/gamefield_Stone_Red.png");
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
}

#yellow{
	-fx-background-image: url("../images/gamefield_Stone_Yellow.png");
	-fx-background-size: cover;
	-fx-background-repeat:no-repeat;
}

#empty{
	-fx-background-image: url("../images/gamefield_InvisiblePane.png");
}

/*Steineinwurf - Buttons*/

#col1Btn{
	-fx-background-color: transparent;
}

#col2Btn{
	-fx-background-color: transparent;
}

#col3Btn{
	-fx-background-color: transparent;
}

#col4Btn{
 	-fx-background-color: transparent;
}

#col5Btn{
 	 -fx-background-color: transparent;
}

#col6Btn{
	-fx-background-color: transparent;
}

#col7Btn{
	-fx-background-color: transparent;
}

#yellow_throw{
	-fx-background-color: transparent; 
}

#yellow_throw:hover{
	-fx-background-image: url("../images/gamefield_Stone_Yellow.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#red_throw{
	-fx-background-color: transparent; 
}

#red_throw:hover{
	-fx-background-image: url("../images/gamefield_Stone_Red.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

.yellow{
	-fx-background-color: transparent; 
}

.yellow:hover{
	-fx-background-image: url("../images/gamefield_Stone_Yellow.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

/*Setting Screen*/
#btnEnd{
	-fx-background-image: url("../images/slideIn_Btn_reset.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;	 
}

#btnEnd:hover{
	-fx-background-image: url("../images/slideIn_Btn_reset_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;	 
}

#btnMenu{
	-fx-background-image: url("../images/slideIn_Btn_menu.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnMenu:hover{
	-fx-background-image: url("../images/slideIn_Btn_menu_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}
/*Setting Screen - Start Buttons*/
#btnStartTournament{
	-fx-background-image: url("../images/slideIn_Btn_start.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;	 
}

#btnStartTournament:hover{
	-fx-background-image: url("../images/slideIn_Btn_start_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnStartVsKI{
	-fx-background-image: url("../images/slideIn_Btn_start.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStartVsKI:hover{
	-fx-background-image: url("../images/slideIn_Btn_start_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStartTwoPlayer{
	-fx-background-image: url("../images/slideIn_Btn_start.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStartTwoPlayer:hover{
	-fx-background-image: url("../images/slideIn_Btn_start_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

/*Setting Screen - Buttons Modus*/
#btnPunktemodus{
	-fx-background-image: url("../images/slideIn_Btn_Punkte.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnPunktemodus:hover{
	-fx-background-image: url("../images/slideIn_Btn_Punkte_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnVorsprungsmodus{
	-fx-background-image: url("../images/slideIn_Btn_Vorsprung.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnVorsprungsmodus:hover{
	-fx-background-image: url("../images/slideIn_Btn_Vorsprung_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStandardmodus{
	-fx-background-image: url("../images/slideIn_Btn_Standard.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStandardmodus:hover{
	-fx-background-image: url("../images/slideIn_Btn_Standard_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

/*Setting Screen - Buttons Level*/
#btnEasy{
	-fx-background-image: url("../images/slideIn_Btn_easy.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnEasy:hover{
	-fx-background-image: url("../images/slideIn_Btn_easy_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnMedium{
	-fx-background-image: url("../images/slideIn_Btn_medium.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnMedium:hover{
	-fx-background-image: url("../images/slideIn_Btn_medium_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnHard{
	-fx-background-image: url("../images/slideIn_Btn_hard.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnHard:hover{
	-fx-background-image: url("../images/slideIn_Btn_hard_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

/*Setting Screen - Buttons Start Player*/
#btnPlayerOne{
	-fx-background-image: url("../images/slideIn_Btn_player1.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnPlayerOne:hover{
	-fx-background-image: url("../images/slideIn_Btn_player1_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

.btnPlayerTwo{
	-fx-background-image: url("../images/slideIn_Btn_player2.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

.btnPlayerTwo:hover{
	-fx-background-image: url("../images/slideIn_Btn_player2_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

.btnPlayerComputer{
	-fx-background-image: url("../images/slideIn_Btn_computer.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

.btnPlayerComputer:hover{
	-fx-background-image: url("../images/slideIn_Btn_computer_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnRandom{
	-fx-background-image: url("../images/slideIn_Btn_rnd.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnRandom:hover{
	-fx-background-image: url("../images/slideIn_Btn_rnd_hover.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}


/*Setting Screen Background*/
.settingScreenKI{
	-fx-background-image: url("../images/slideInKI_Background.png");	
}

.settingScreenTwoPlayer{
	-fx-background-image: url("../images/slideIn2P_Background.png");
	-fx-background-repeat:no-repeat	
}

.settingScreenTour{
	-fx-background-image: url("../images/slideInTour_Background.png");	
	-fx-background-repeat:no-repeat	
}

/*Game Summary -Übersich am Ende des Spiels*/
/*Game Summary - Background*/
.gamedetails2Player{
	-fx-background-image: url("../images/gameSum_Background2P.png");	
	-fx-background-repeat:no-repeat;
}

/*Game Summary - Buttons*/
#btnSave{
	-fx-background-image: url("../images/gameSum_Btn_save.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnSave:hover{
	-fx-background-image: url("../images/gameSum_Btn_save_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnDelete{
	-fx-background-image: url("../images/gameSum_Btn_delete.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnDelete:hover{
	-fx-background-image: url("../images/gameSum_Btn_delete_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnEdit{
	-fx-background-image: url("../images/gameSum_Btn_edit.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnEdit:hover{
	-fx-background-image: url("../images/gameSum_Btn_edit_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

/*History Screen - Spielstände laden, etc.*/
/*History Screen - Background*/
#GameFieldHistory{
	-fx-background-image: url("../images/history_Background.png");	
	-fx-background-size: cover;
	-fx-background-color: transparent;
}
/*History Screen - Buttons*/
#btnForward{
	-fx-background-image: url("../images/history_Btn_forward.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnForward:hover{
	-fx-background-image: url("../images/history_Btn_forward_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnPrevious{
	-fx-background-image: url("../images/history_Btn_back.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnPrevious:hover{
	-fx-background-image: url("../images/history_Btn_back_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStartSimulation{
	-fx-background-image: url("../images/history_Btn_startSim.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStartSimulation:hover{
	-fx-background-image: url("../images/history_Btn_startSim_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnSettingsHistory{
	-fx-background-image: url("../images/gamefield_Btn_SlideIn.png"); 
	-fx-background-size: cover;
	-fx-background-color: transparent; 
}

#btnStart{
	-fx-background-image: url("../images/slideIn_Btn_start.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnStart:hover{
	-fx-background-image: url("../images/slideIn_Btn_start_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
}

#btnPauseSimulation{
	-fx-background-image: url("../images/gameSumHistory_Btn_pauseSim.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
	-fx-background-repeat:no-repeat;
}

#btnPauseSimulation:hover{
	-fx-background-image: url("../images/gameSumHistory_Btn_pauseSim_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
	-fx-background-repeat:no-repeat;
}

/*History - Setting Screen - Background*/
.gamedetailsHistory{
	-fx-background-image: url("../images/gameSum_Background.png");	
	-fx-background-repeat:no-repeat;
}

#btnBack{
	-fx-background-image: url("../images/slideIn_Btn_back.png");
	-fx-background-repeat:no-repeat;	
	-fx-background-size: cover;
	-fx-background-color: transparent
}

#btnBack:hover{
	-fx-background-image: url("../images/slideIn_Btn_back_hover.png");
	-fx-background-repeat:no-repeat;
}

#btnSaveHistory{
	-fx-background-image: url("../images/gameSum_Btn_save.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
	-fx-background-repeat:no-repeat;
}

#btnSaveHistory:hover{
	-fx-background-image: url("../images/gameSum_Btn_save_hover.png");
	-fx-background-size: cover;
	-fx-background-color: transparent;
	-fx-background-repeat:no-repeat;
}

#logo{
	-fx-background-image: url("../images/menu_logo.png");
	-fx-background-repeat:no-repeat;	
	-fx-background-size: cover;
	-fx-background-color: transparent
}